.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ;
}
.header-el{
    display:flex;
    justify-content: space-between;
}

.nav-el{
    display:flex;
    align-items: center;
}

.nav-el > li {
    margin: 20px;
    list-style-type: none;
}