body{
  margin: 0;
  background-color: #282a36;
}
.header_component{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #44475a;
  padding: 0 30px;
}

.header_fc{
  display: flex;
  color: #8be9fd;
}

.header_sc{
  display: flex;
  color: #FFF;
}

.main_component{
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(logo.svg);
  background-repeat: no-repeat;
  background-position-x: 114%;
}


.main_list_component > li::marker {
  color:#8be9fd;
  font-size: 2em;
}
